        <div class="text-center s-widget m-b-25 dropdown" id="profile-menu" ng-controller='profileWidgetController'>

            <a href="" data-toggle="dropdown">
                <img class="profile-pic animated" ng-src="{{ getGravatarImage(user.email) }}" alt="">
            </a>
            <ul class="dropdown-menu profile-menu">
                <li><a href="">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i>
                </li>
                <li><a href="">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i>
                </li>
                <li><a href="">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i>
                </li>
                <li><a href="">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i>
                </li>
            </ul>
            <h4 class="m-0">{{ user.firstName + ' ' + user.lastName }}</h4>
        </div>
